*{
  margin: 0;
  padding: 0;
}

body {
    background-color: #F9F8ED;
}
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
#header{
  margin-top: 15px;
  margin-bottom: 15px;
}
#welcome{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #1F4E5F; 
}
#descripctionmap {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 25px;
  color: #1F4E5F;
}
#map {
   margin: 0 auto;    
   width:760px;
   height:500px;
   float: left;
   margin-left: 10px;
   margin-right: 10px;
      }
#body{
  margin: auto;
  width: 1420px;
  height: 500px;
}
#estadisticas{
  width: 320px;
  height: 500px;
  background-color: #1F4E5F;;
  float: left;

}
#iconos{
  width: 320px;
  height: 500px;
  background-color: #1F4E5F;;
  float: left;
}

#piepagina{
  text-align: center;
  color: #1F4E5F;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
}
#markers{
  width:305px;
  height: 25px;
}
.grupos{
  margin-top: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
}
.contenido{
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  color: white;
}
#titles{
    font-size: 19px;
   font-family: 'Oswald', sans-serif;  
   color: white;
   margin-left: 15px; 
   margin-top: 20px; 
   
}
#names {
  margin-top: 10px;
  margin-left: 15px;
  width:60px;
  height:480px;
  float: left;
}
#values {
  margin-top: 10px;
  margin-left: 5px;
  width: 230px;
  height: 480px;
  display: none;
  float: left;
}
#mark {
  margin-top: 10px;
  margin-left: 15px;
  width:305px;
  height:230px;
  float: left;
}
#ico {
  margin-top: 10px;
  margin-left: 15px;
  width:305px;
  height:150px;
  float: left;
}
#img{
  float: left;
}